rng/slideMod.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:dita="http://dita.oasis-open.org/architecture/2005/"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Slide</moduleTitle>
    <headerComment xml:space="preserve">
========================================================================================================================
                                                         HEADER
========================================================================================================================
          MODULE:   DITA Slide
          VERSION:  1.3
          DATE:     January 2017

========================================================================================================================
          PUBLIC DOCUMENT TYPE DEFINITION TYPICAL INVOCATION

          Refer to this file by the following public identifier or an appropriate system identifier
          PUBLIC "-//Stefan Jung//ELEMENTS DITA Slide//EN"

          Delivered as file "slideMod.rng"

========================================================================================================================

          SYSTEM:   Darwin Information Typing Architecture (DITA)

          PURPOSE:  Define elements and attributes for Slides

          ORIGINAL CREATION DATE:
                    March 2023

                    (C) Copyright Stefan Jung 2023
                    All Rights Reserved.

========================================================================================================================
    </headerComment>
    <moduleMetadata>
      <moduleType>topic</moduleType>
      <moduleShortName>slide</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//Stefan Jung//ELEMENTS DITA<var presep=" " name="ditaver"/> Slide//EN</dtdMod>
        <dtdEnt>-//Stefan Jung//ENTITIES DITA<var presep=" " name="ditaver"/> Slide//EN</dtdEnt>
        <xsdMod>urn:jung:dita:xsd:slideMod.xsd<var presep=":" name="ditaver"/></xsdMod>
        <xsdGrp>urn:jung:dita:xsd:slideGrp.xsd<var presep=":" name="ditaver"/></xsdGrp>
        <rncMod>urn:jung:dita:rnc:slideMod.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:jung:dita:rng:slideMod.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
      <domainsContribution>(topic concept slide)</domainsContribution>
    </moduleMetadata>
  </moduleDesc>
  
  <div>
    <a:documentation>TOPIC NESTING OVERRIDES</a:documentation>
    <define name="slide-info-types">
      <ref name="info-types"/>
    </define>
  </div>
  
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="slide">
      <ref name="slide.element"/>
    </define>
    <define name="slide-body">
      <ref name="slide-body.element"/>
    </define>
    <define name="slide-speakernotes">
      <ref name="slide-speakernotes.element"/>
    </define>
    <define name="slide-div">
      <ref name="slide-div.element"/>
    </define>
    <define name="slide-codeblock">
      <ref name="slide-codeblock.element"/>
    </define>
    <define name="slide-pre">
      <ref name="slide-pre.element"/>
    </define>
    <define name="slide-image">
      <ref name="slide-image.element"/>
    </define>
    <define name="slide-p">
      <ref name="slide-p.element"/>
    </define>
    <define name="slide-h1">
      <ref name="slide-h1.element"/>
    </define>
    <define name="slide-h2">
      <ref name="slide-h2.element"/>
    </define>
    <define name="slide-h3">
      <ref name="slide-h3.element"/>
    </define>
    <define name="slide-title">
      <ref name="slide-title.element"/>
    </define>
  </div>
  
  <div>
    <a:documentation>COMMON ELEMENT SETS</a:documentation>
    <define name="slide-body.cnt">
      <choice>
        <ref name="slide.block"/>
        <ref name="data.elements.incl"/>
        <ref name="draft-comment"/>
        <ref name="foreign.unknown.incl"/>
        <ref name="required-cleanup"/>
      </choice>
    </define>
    <define name="slide.block">
      <a:documentation>Elements common to slide body-like contexts</a:documentation>
      <choice>
        <ref name="dl"/>
        <!--<ref name="div"/>-->
        <ref name="fig"/>
        <!--<ref name="image"/>-->
        <ref name="lines"/>
        <ref name="lq"/>
        <ref name="note"/>
        <ref name="object"/>
        <ref name="ol"/>
        <!--<ref name="p"/>-->
        <!--<ref name="pre"/>-->
        <ref name="slide-div"/>
        <ref name="slide-h1"/>
        <ref name="slide-h2"/>
        <ref name="slide-h3"/>
        <ref name="slide-p"/>
        <ref name="slide-image"/>
        <ref name="slide-pre"/>
        <ref name="simpletable"/>
        <ref name="sl"/>
        <ref name="table"/>
        <ref name="ul"/>
      </choice>
    </define>
  </div>
  
  <div>
    <a:documentation>COMMON ATTRIBUTE SETS</a:documentation>
  </div>
  
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>

    <div>
      <a:documentation> LONG NAME: Slide </a:documentation>
      <define name="slide.content">
        <!-- The title is mandatory, otherwise this is not valid DITA -->
        <ref name="slide-title"/>
        <optional>
          <ref name="slide-body"/>
        </optional>
        <zeroOrMore>
          <ref name="slide-info-types"/>
        </zeroOrMore>
      </define>
      <define name="slide.attributes">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <attribute name="data-auto-animate">
            <empty/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-auto-animate-id">
            <data type="ID"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-auto-animate-easing">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-auto-animate-unmatched">
            <choice>
              <value>true</value>
              <value>false</value>
              <value>fade</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-auto-animate-duration">
            <data type="float"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-autoslide">
            <data type="integer"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-transition">
            <choice>
              <value>none</value><a:documentation>Switch backgrounds instantly</a:documentation>
              <value>fade</value><a:documentation>Cross fade — default for background transitions</a:documentation>
              <value>slide</value><a:documentation>Slide between backgrounds — default for slide transitions</a:documentation>
              <value>convex</value><a:documentation>Slide at a convex angle</a:documentation>
              <value>concave</value><a:documentation>Slide at a concave angle</a:documentation>
              <value>zoom</value><a:documentation>Scale the incoming slide up so it grows in from the center of the screen</a:documentation>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-color">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-gradient">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-image">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-size">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-position">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-repeat">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-opacity">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-video">
            <data type="anyURI"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-video-loop"/>
        </optional>
        <optional>
          <attribute name="data-background-video-muted"/>
        </optional>
        <optional>
          <attribute name="style">
            <data type="string"/>
          </attribute>
        </optional>
        <ref name="conref-atts"/>
        <ref name="select-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      
      
      <define name="slide.element">
        <element name="slide" dita:longName="Slide">
          <a:documentation>The &lt;slide> element is the root element of a slide topic. A term entry represents a terminology concept and includes one or multiple term words and defines their usage.
            Category: Slide elements</a:documentation>
          <sch:pattern id="fragment">
            <sch:rule context="*[@data-fragment-index]">
              <sch:assert test="@fragment" role="warning"> If @data-fragment-index is set, @fragment also has to be set! </sch:assert>
            </sch:rule>
          </sch:pattern>
          <ref name="slide.attlist"/>
          <ref name="slide.content"/>
        </element>
      </define>
      <define name="slide.attlist" combine="interleave">
        <ref name="slide.attributes"/>
        <ref name="arch-atts"/>
        <ref name="domains-att"/>
      </define>
      <define name="idElements" combine="choice">
        <ref name="slide.element"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation> LONG NAME: Slide Body </a:documentation>
      <define name="slide-body.content">
        <zeroOrMore>
          <ref name="slide-body.cnt"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="slide-speakernotes"/>
        </zeroOrMore>
      </define>
      <define name="slide-body.attributes">
        <ref name="id-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="base"/>
        </optional>
        <ref name="base-attribute-extensions"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="slide-body.element">
        <element name="body" dita:longName="Slide Body">
          <a:documentation>The &lt;slide-body> element contains the body of a term.
            Category: Slide elements</a:documentation>
          <ref name="slide-body.attlist"/>
          <ref name="slide-body.content"/>
        </element>
      </define>
      <define name="slide-body.attlist" combine="interleave">
        <ref name="slide-body.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Speaker Notes</a:documentation>
      <define name="slide-speakernotes.content">
        <zeroOrMore>
          <ref name="div.cnt"/>
        </zeroOrMore>
      </define>
      <define name="slide-speakernotes.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="slide-speakernotes.element">
        <element name="speakernotes" dita:longName="Speaker Notes">
          <a:documentation> Category: Slide elements</a:documentation>
          <ref name="slide-speakernotes.attlist"/>
          <ref name="slide-speakernotes.content"/>
        </element>
      </define>
      <define name="slide-speakernotes.attlist" combine="interleave">
        <ref name="slide-speakernotes.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Custom Slide Div</a:documentation>
      <define name="slide-div.content">
        <choice>
          <ref name="div.cnt"/>
          <oneOrMore>
            <ref name="slide-div"/>
          </oneOrMore>
          <text/>
        </choice>
      </define>
      <define name="slide-div.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id"/>
        </optional>
        <optional>
          <attribute name="style"/><a:documentation>Custom CSS styles</a:documentation>
        </optional>
        <optional>
          <attribute name="data-auto-animate-delay"/>
        </optional>
      </define>
      <define name="slide-div.element">
        <element name="div" dita:longName="Custom Slide Div">
          <a:documentation> Category: Slide elements</a:documentation>
          <ref name="slide-div.attlist"/>
          <ref name="slide-div.content"/>
        </element>
      </define>
      <define name="slide-div.attlist" combine="interleave">
        <ref name="slide-div.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Custom Slide Pre</a:documentation>
      <define name="slide-pre.content">
        <choice>
          <ref name="slide-codeblock"/>
        </choice>
      </define>
      <define name="slide-pre.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <optional>
          <attribute name="xml:space" a:defaultValue="preserve">
            <value>preserve</value>
          </attribute>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id">
            <data type="string"/>
          </attribute>
        </optional>
      </define>
      <define name="slide-pre.element">
        <element name="pre" dita:longName="Custom Slide Pre">
          <a:documentation> Category: Slide elements</a:documentation>
          <ref name="slide-pre.attlist"/>
          <ref name="slide-pre.content"/>
        </element>
      </define>
      <define name="slide-pre.attlist" combine="interleave">
        <ref name="slide-pre.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation> LONG NAME: Slide Code Block </a:documentation>
      <define name="slide-codeblock.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph.notm"/>
            <ref name="coderef"/>
            <ref name="data.elements.incl"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="txt.incl"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="slide-codeblock.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="spectitle"/>
        </optional>
        <optional>
          <attribute name="xml:space" a:defaultValue="preserve">
            <value>preserve</value>
          </attribute>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-trim">
            <empty/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-line-numbers">
            <data type="string"/>
          </attribute>
        </optional>
      </define>
      <define name="slide-codeblock.element">
        <element name="codeblock" dita:longName="Slide Code Block">
          <a:documentation>
            <![CDATA[The <slide-codeblock> element represents lines of program code. Like the <pre> element, content of this element has preserved line endings and is output in a monospaced font. This element is part of the DITA programming domain, a special set of DITA elements designed to document programming tasks, concepts and reference information.
    Category: Programming elements
  ]]></a:documentation>
          <ref name="slide-codeblock.attlist"/>
          <ref name="slide-codeblock.content"/>
        </element>
      </define>
      <define name="slide-codeblock.attlist" combine="interleave">
        <ref name="slide-codeblock.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Slide Image Data</a:documentation>
      <define name="slide-image.content">
        <optional>
          <ref name="alt"/>
        </optional>
        <optional>
          <ref name="longdescref"/>
        </optional>
      </define>
      <define name="slide-image.attributes">
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="scope">
            <choice>
              <value>external</value>
              <value>local</value>
              <value>peer</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="keyref"/>
        </optional>
        <optional>
          <attribute name="alt"/>
        </optional>
        <optional>
          <attribute name="longdescref"/>
        </optional>
        <optional>
          <attribute name="height">
            <data type="NMTOKEN"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="width">
            <data type="NMTOKEN"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="align"/>
        </optional>
        <optional>
          <attribute name="scale">
            <data type="NMTOKEN"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="scalefit">
            <choice>
              <value>yes</value>
              <value>no</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="style">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="placement" a:defaultValue="inline">
            <choice>
              <value>break</value>
              <value>inline</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="format" dita:since="1.3 errata 02"/>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="slide-image.element">
        <element name="image" dita:longName="Slide Image Data">
          <a:documentation>Include artwork or images in a DITA topic by using the &lt;slide-image> element. The &lt;image> element has optional attributes that indicate whether the placement of the
            included graphic or artwork should be inline (like a button or icon) or on a separate line for a larger image. There are also optional attributes that indicate the size to which the
            included graphic or artwork should be scaled. An href attribute is required on the image element, as this attribute creates a pointer to the image, and allows the output formatting
            processor to bring the image into the text flow. To make the intent of the image more accessible for users using screen readers or text-only readers, always include a description of the
            image's content in the alt element. Category: Body elements</a:documentation>
          <ref name="slide-image.attlist"/>
          <ref name="slide-image.content"/>
        </element>
      </define>
      <define name="slide-image.attlist" combine="interleave">
        <ref name="slide-image.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Slide Paragraph</a:documentation>
      <define name="slide-p.content">
        <zeroOrMore>
          <ref name="para.cnt"/>
        </zeroOrMore>
      </define>
      <define name="slide-p.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="style"/>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id"/>
        </optional>
      </define>
      <define name="slide-p.element">
        <element name="p" dita:longName="Slide Paragraph">
          <a:documentation>A paragraph element (&lt;slide-p>) is a block of text containing a single main idea. Category: Body elements</a:documentation>
          <ref name="slide-p.attlist"/>
          <ref name="slide-p.content"/>
        </element>
      </define>
      <define name="slide-p.attlist" combine="interleave">
        <ref name="slide-p.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Slide H1</a:documentation>
      <define name="slide-h1.content">
        <zeroOrMore>
          <ref name="para.cnt"/>
        </zeroOrMore>
      </define>
      <define name="slide-h1.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="style"/>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id"/>
        </optional>
      </define>
      <define name="slide-h1.element">
        <element name="h1" dita:longName="Slide Heading 1">
          <a:documentation>A heading element (&lt;slide-h1>). Category: Slide elements</a:documentation>
          <ref name="slide-h1.attlist"/>
          <ref name="slide-h1.content"/>
        </element>
      </define>
      <define name="slide-h1.attlist" combine="interleave">
        <ref name="slide-h1.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Slide H2</a:documentation>
      <define name="slide-h2.content">
        <zeroOrMore>
          <ref name="para.cnt"/>
        </zeroOrMore>
      </define>
      <define name="slide-h2.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="style"/>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id"/>
        </optional>
      </define>
      <define name="slide-h2.element">
        <element name="h2" dita:longName="Slide Heading 2">
          <a:documentation>A heading element (&lt;slide-h2>). Category: Slide elements</a:documentation>
          <ref name="slide-h2.attlist"/>
          <ref name="slide-h2.content"/>
        </element>
      </define>
      <define name="slide-h2.attlist" combine="interleave">
        <ref name="slide-h2.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Slide H3</a:documentation>
      <define name="slide-h3.content">
        <zeroOrMore>
          <ref name="para.cnt"/>
        </zeroOrMore>
      </define>
      <define name="slide-h3.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="style"/>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id"/>
        </optional>
      </define>
      <define name="slide-h3.element">
        <element name="h3" dita:longName="Slide Heading 3">
          <a:documentation>A heading element (&lt;slide-h3>). Category: Slide elements</a:documentation>
          <ref name="slide-h3.attlist"/>
          <ref name="slide-h3.content"/>
        </element>
      </define>
      <define name="slide-h3.attlist" combine="interleave">
        <ref name="slide-h3.attributes"/>
      </define>
    </div>
    
    
    <div>
      <a:documentation>LONG NAME: Slide Title</a:documentation>
      <define name="slide-title.content">
        <a:documentation>Title of a slide</a:documentation>
        <zeroOrMore>
          <ref name="title.cnt"/>
        </zeroOrMore>
      </define>
      <define name="slide-title.attributes">
        <ref name="id-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="base"/>
        </optional>
        <ref name="base-attribute-extensions"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="style">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="rev" dita:since="1.3"/>
        </optional>
      </define>
      <define name="slide-title.element">
        <element name="title" dita:longName="Title">
          <a:documentation>The &lt;slide-title> element contains a heading or label for the main parts of a topic, including the topic as a whole, its sections and examples, and its labelled content, such
            as figures and tables. Beginning with DITA 1.1, the element may also be used to provide a title for a map. Category: Topic elements</a:documentation>
          <ref name="slide-title.attlist"/>
          <ref name="slide-title.content"/>
        </element>
      </define>
      <define name="slide-title.attlist" combine="interleave">
        <ref name="slide-title.attributes"/>
      </define>
    </div>
  </div>

  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>
    <define name="slide-body.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/body concept/conbody slide/slide-body "/>
      </optional>
    </define>
    <define name="slide.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/topic concept/concept slide/slide "/>
      </optional>
    </define>
    <define name="slide-speakernotes.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div slide/slide-speakernotes "/>
      </optional>
    </define>
    <define name="slide-div.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div slide/slide-div "/>
      </optional>
    </define>
    <define name="slide-pre.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/pre slide/slide-pre "/>
      </optional>
    </define>
    <define name="slide-codeblock.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/pre slide/slide-codeblock "/>
      </optional>
    </define>
    <define name="slide-image.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/image slide/slide-image "/>
      </optional>
    </define>
    <define name="slide-p.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/p slide/slide-p "/>
      </optional>
    </define>
    <define name="slide-h1.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/p slide/slide-h1 "/>
      </optional>
    </define>
    <define name="slide-h2.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/p slide/slide-h2 "/>
      </optional>
    </define>
    <define name="slide-h3.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="- topic/p slide/slide-h3 "/>
      </optional>
    </define>
    <define name="slide-title.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/title slide/slide-title "/>
      </optional>
    </define>
  </div>

</grammar>
