rng/slideMod.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:dita="http://dita.oasis-open.org/architecture/2005/"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Slide</moduleTitle>
    <headerComment xml:space="preserve">
========================================================================================================================
                                                         HEADER
========================================================================================================================
          MODULE:   DITA Slide
          VERSION:  1.3
          DATE:     January 2017

========================================================================================================================
          PUBLIC DOCUMENT TYPE DEFINITION TYPICAL INVOCATION

          Refer to this file by the following public identifier or an appropriate system identifier
          PUBLIC "-//Stefan Jung//ELEMENTS DITA Slide//EN"

          Delivered as file "slideMod.rng"

========================================================================================================================

          SYSTEM:   Darwin Information Typing Architecture (DITA)

          PURPOSE:  Define elements and specialization atttributes for Termentries

          ORIGINAL CREATION DATE:
                    March 2017

                    (C) Copyright Stefan Jung 2023
                    All Rights Reserved.

========================================================================================================================
    </headerComment>
    <moduleMetadata>
      <moduleType>topic</moduleType>
      <moduleShortName>slide</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//Stefan Jung//ELEMENTS DITA<var presep=" " name="ditaver"/> Slide//EN</dtdMod>
        <dtdEnt>-//Stefan Jung//ENTITIES DITA<var presep=" " name="ditaver"/> Slide//EN</dtdEnt>
        <xsdMod>urn:jung:dita:xsd:slideMod.xsd<var presep=":" name="ditaver"/></xsdMod>
        <xsdGrp>urn:jung:dita:xsd:slideGrp.xsd<var presep=":" name="ditaver"/></xsdGrp>
        <rncMod>urn:jung:dita:rnc:slideMod.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:jung:dita:rng:slideMod.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
      <domainsContribution>(topic concept slide)</domainsContribution>
    </moduleMetadata>
  </moduleDesc>
  
  <div>
    <a:documentation>TOPIC NESTING OVERRIDES</a:documentation>
    <define name="slide-info-types">
      <ref name="info-types"/>
    </define>
    <define name="pr-d-pre" combine="choice">
      <ref name="slide-codeblock.element"/>
    </define>
  </div>
  
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="slide">
      <ref name="slide.element"/>
    </define>
    <define name="slideBody">
      <ref name="slideBody.element"/>
    </define>
    <define name="speakernotes">
      <ref name="speakernotes.element"/>
    </define>
    <define name="slide-div">
      <ref name="slide-div.element"/>
    </define>
    <define name="slide-codeblock">
      <ref name="slide-codeblock.element"/>
    </define>
    <define name="slide-pre">
      <ref name="slide-pre.element"/>
    </define>
  </div>
  
  <div>
    <a:documentation>COMMON ELEMENT SETS</a:documentation>
    <define name="slidebody.cnt">
      <choice>
        <ref name="slide.block"/>
        <ref name="data.elements.incl"/>
        <ref name="draft-comment"/>
        <ref name="foreign.unknown.incl"/>
        <ref name="required-cleanup"/>
      </choice>
    </define>
    <define name="slide.block">
      <a:documentation>Elements common to slide body-like contexts</a:documentation>
      <choice>
        <ref name="dl"/>
        <ref name="div"/>
        <ref name="fig"/>
        <ref name="image"/>
        <ref name="lines"/>
        <ref name="lq"/>
        <ref name="note"/>
        <ref name="object"/>
        <ref name="ol"/>
        <ref name="p"/>
        <ref name="pre"/>
        <ref name="slide-div"/>
        <ref name="slide-pre"/>
        <ref name="simpletable"/>
        <ref name="sl"/>
        <ref name="table"/>
        <ref name="ul"/>
      </choice>
    </define>
  </div>
  
  <div>
    <a:documentation>COMMON ATTRIBUTE SETS</a:documentation>
  </div>
  
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>

    <div>
      <a:documentation> LONG NAME: Slide </a:documentation>
      <define name="slide.content">
        <ref name="title"/>
        <optional>
          <ref name="slideBody"/>
        </optional>
        <zeroOrMore>
          <ref name="slide-info-types"/>
        </zeroOrMore>
      </define>
      <define name="slide.attributes">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <optional>
          <attribute name="data-auto-animate">
            <empty/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-auto-animate-easing">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-autoslide">
            <data type="integer"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-transition">
            <choice>
              <value>none</value><a:documentation>Switch backgrounds instantly</a:documentation>
              <value>fade</value><a:documentation>Cross fade — default for background transitions</a:documentation>
              <value>slide</value><a:documentation>Slide between backgrounds — default for slide transitions</a:documentation>
              <value>convex</value><a:documentation>Slide at a convex angle</a:documentation>
              <value>concave</value><a:documentation>Slide at a concave angle</a:documentation>
              <value>zoom</value><a:documentation>Scale the incoming slide up so it grows in from the center of the screen</a:documentation>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-color">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-gradient">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-image">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-size">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-position">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-repeat">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-opacity">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-video">
            <data type="anyURI"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-background-video-loop"/>
        </optional>
        <optional>
          <attribute name="data-background-video-muted"/>
        </optional>
        <ref name="conref-atts"/>
        <ref name="select-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="slide.element">
        <element name="slide" dita:longName="Slide">
          <a:documentation>The &lt;slide> element is the root element of a slide topic. A term entry represents a terminology concept and includes one or multiple term words and defines their usage.
            Category: Slide elements</a:documentation>
          <sch:pattern id="fragment">
            <sch:rule context="*[@data-fragment-index]">
              <sch:assert test="@fragment" role="warning"> If @data-fragment-index is set, @fragment also has to be set! </sch:assert>
            </sch:rule>
          </sch:pattern>
          <ref name="slide.attlist"/>
          <ref name="slide.content"/>
        </element>
      </define>
      <define name="slide.attlist" combine="interleave">
        <ref name="slide.attributes"/>
        <ref name="arch-atts"/>
        <ref name="domains-att"/>
      </define>
      <define name="idElements" combine="choice">
        <ref name="slide.element"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Slide Body </a:documentation>
      <define name="slideBody.content">
        <zeroOrMore>
          <ref name="slidebody.cnt"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="speakernotes"/>
        </zeroOrMore>
      </define>
      <define name="slideBody.attributes">
        <ref name="id-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="base"/>
        </optional>
        <ref name="base-attribute-extensions"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="slideBody.element">
        <element name="slideBody" dita:longName="Slide Body">
          <a:documentation>The &lt;slideBody> element contains the body of a term.
            Category: Slide elements</a:documentation>
          <ref name="slideBody.attlist"/>
          <ref name="slideBody.content"/>
        </element>
      </define>
      <define name="slideBody.attlist" combine="interleave">
        <ref name="slideBody.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Speaker Notes</a:documentation>
      <define name="speakernotes.content">
        <zeroOrMore>
          <ref name="div.cnt"/>
        </zeroOrMore>
      </define>
      <define name="speakernotes.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="speakernotes.element">
        <element name="speakernotes" dita:longName="Speaker Notes">
          <a:documentation> Category: Slide elements</a:documentation>
          <ref name="speakernotes.attlist"/>
          <ref name="speakernotes.content"/>
        </element>
      </define>
      <define name="speakernotes.attlist" combine="interleave">
        <ref name="speakernotes.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Custom Slide Div</a:documentation>
      <define name="slide-div.content">
        <choice>
          <ref name="div.cnt"/>
          <oneOrMore>
            <ref name="slide-div"/>
          </oneOrMore>
          <text/>
        </choice>
      </define>
      <define name="slide-div.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id"/>
        </optional>
        <optional>
          <attribute name="style"/><a:documentation>Custom CSS styles</a:documentation>
        </optional>
        <optional>
          <attribute name="data-auto-animate-delay"/>
        </optional>
      </define>
      <define name="slide-div.element">
        <element name="slide-div" dita:longName="Custom Slide Div">
          <a:documentation> Category: Slide elements</a:documentation>
          <ref name="slide-div.attlist"/>
          <ref name="slide-div.content"/>
        </element>
      </define>
      <define name="slide-div.attlist" combine="interleave">
        <ref name="slide-div.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation>LONG NAME: Custom Slide Pre</a:documentation>
      <define name="slide-pre.content">
        <choice>
          <ref name="slide-codeblock"/>
        </choice>
      </define>
      <define name="slide-pre.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-id">
            <data type="string"/>
          </attribute>
        </optional>
      </define>
      <define name="slide-pre.element">
        <element name="slide-pre" dita:longName="Custom Slide Pre">
          <a:documentation> Category: Slide elements</a:documentation>
          <ref name="slide-pre.attlist"/>
          <ref name="slide-pre.content"/>
        </element>
      </define>
      <define name="slide-pre.attlist" combine="interleave">
        <ref name="slide-pre.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Slide Code Block </a:documentation>
      <define name="slide-codeblock.content">
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="basic.ph.notm"/>
            <ref name="coderef"/>
            <ref name="data.elements.incl"/>
            <ref name="foreign.unknown.incl"/>
            <ref name="txt.incl"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="slide-codeblock.attributes">
        <ref name="display-atts"/>
        <optional>
          <attribute name="xml:space" a:defaultValue="preserve">
            <value>preserve</value>
          </attribute>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="data-trim">
            <empty/>
          </attribute>
        </optional>
        <optional>
          <attribute name="data-line-numbers">
            <data type="string"/>
          </attribute>
        </optional>
        <ref name="univ-atts"/>
      </define>
      <define name="slide-codeblock.element">
        <element name="slide-codeblock" dita:longName="Slide Code Block">
          <a:documentation>
            <![CDATA[The <slide-codeblock> element represents lines of program code. Like the <pre> element, content of this element has preserved line endings and is output in a monospaced font. This element is part of the DITA programming domain, a special set of DITA elements designed to document programming tasks, concepts and reference information.
    Category: Programming elements
  ]]></a:documentation>
          <ref name="slide-codeblock.attlist"/>
          <ref name="slide-codeblock.content"/>
        </element>
      </define>
      <define name="slide-codeblock.attlist" combine="interleave">
        <ref name="slide-codeblock.attributes"/>
      </define>
    </div>
  </div>

  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>
    <define name="slideBody.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/body concept/conbody slide/slideBody "/>
      </optional>
    </define>
    <define name="slide.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/topic concept/concept slide/slide "/>
      </optional>
    </define>
    <define name="speakernotes.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div slide/speakernotes "/>
      </optional>
    </define>
    <define name="slide-div.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div slide/slide-div "/>
      </optional>
    </define>
    <define name="slide-pre.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div slide/slide-pre "/>
      </optional>
    </define>
    <define name="slide-codeblock.attlist" combine="interleave">
      <optional>
        <attribute name="class" a:defaultValue="+ topic/pre pr-d/codeblock slide/slide-codeblock "/>
      </optional>
    </define>
  </div>

</grammar>
